html,head,body,div,p,h1,h2,h3,h4,h5,h6,button,img,video{
  margin: 0;
  padding: 0;
  color: #2C364F;
}
.opening{
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-img{
  width: 30%;
}
.open{
  width: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #2C364F;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.open:hover{
  color: #ffffff;
}
.blue-txt{
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 25px; 
}
.icons{
  padding: 15px 0;
}
.icons a{
  padding: 0 10px;
}
.footer{
  background: #2C364F;
}
.footer img{
  padding: 20px 0;
  width: 100px;
}
