body {
  background-color: #2F384F;
  font-family: 'Roboto', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

@font-face {
  font-family: Arial-Rounded;
  src: url(../assets/fonts/ARLRDBD.TTF);
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.first-block {
  /* The image used */
  background-image: url("http://dev.mvp.net.ph/sss/LandingPageSlices/home_imageBG.jpg");

  /* Set a specific height */
  min-height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  display: flex;
  align-items: center;
  position: relative;
}

.first-block > .container > .row > .col-lg-12 > h3 {
  margin: 1em 0;
}

.second-block {
  margin: 3em 0 7em;
}

.third-block {
  /* The image used */
  background-image: url("http://dev.mvp.net.ph/sss/LandingPageSlices/BG2.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.fourth-block, .sixth-block {
  background-color: #ffffff;
  padding: 2em 0 5em;
}

.page-header {
  border-bottom: none;
}

.page-header > h1,
.page-header > h1 {
  color: #495371;
}

.fifth-block {
  /* The image used */
  background-image: url("http://dev.mvp.net.ph/sss/LandingPageSlices/BG3.jpg");

  /* Set a specific height */
  min-height: 13em;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  display: flex;
  align-items: center;
  position: relative;
}

.seventh-block,
.eighth-block,
.tenth-block {
  padding: 2em 0 5em;
  position: relative;
}

.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: #828EAD;
  font-size: 14px;
  text-align: center ;
}

.custom-color {
  color: rgb(166, 180, 214) ;
}

.text-footer > p {
  color: #657396;
}

.eighth-block {
  background-image: url("http://dev.mvp.net.ph/sss/LandingPageSlices/speakers_Bg.jpg");

  /* Set a specific height */
  min-height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.eighth-block > .container > .speaker-wrapper {
  padding-bottom: 50px;
}

.speakers.media {
  background-color: #B1F5EF;
}

.speakers.media > .media-left {
  padding-right: 0;
}

.speakers.media > .media-body {
  padding: 3em 1em;
}

.speakers.media > .media-body > .media-heading {
  line-height: 23px;
  font-size: 23px;
}

.media {
  margin-top: 3em;
}

.media > .media-left > h1 {
  font-size: 8em ;
}

.media > .media-body > .media-heading {
  color: #47546F;
}

.media > .media-body > .media-heading > small {
  font-style: italic;
}

ul.list-group > li {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
}

ul.list-group > li.active,
ul.list-group > li.active:hover {
  color: #2F384F;
  background-color: #00F4E0;
}

ul.list-group > li > h3 {
  margin: 0;
}

/*helpers*/
.m-0 {
  margin: 0;
}

.m-1em-0 {
  margin: 1em 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px ;
}
.m-t-50{
  margin-top:50px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-3em {
  margin-bottom: 3em;
}

.m-r-10 {
  margin-right: 10px;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
  font-size: 23px;
}

h1 {
  color: #27D7C8;
  font-weight: bold;
  text-transform: uppercase;
}

h1 > small {
  color: #A8B5D7;
  text-transform: initial;
  line-height: 30px;
  font-style: italic;
}

p {
  color: white;
  font-size: 16px;
}

.text-primary {
  color: #00FFE9;
}

.text-white {
  color: #ffffff;
}

.btn-primary {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: #2F384F;
  background-color: #00FFE9;
  border-color: #00FFE9;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00FFE9;
  border-color: #00FFE9;
}

.btn-lg {
  padding: 18px 23px;
  font-size: 21px;
  font-weight: 600;
}

.check-list {
  list-style: none;
}

.check-list > li > h3 {
  color: #495371;
  background-image: url('http://dev.mvp.net.ph/sss/LandingPageSlices/tick_Img.png');
  background-repeat: no-repeat;
  background-size: 2.2em;
  line-height: 53px;
  padding-left: 80px;
}

.big-number {
  padding-right: 10px;
  float: left;
  font-size: 8em ;
}

.l-height-24 {
  line-height: 27px;
}

.text-justify {
  text-align: justify;
}

.list-group-item.active > h3 {
  font-weight: bold;
}

.list-group-item > h3 {
  font-weight: 400;
}

@media only screen and (min-width: 768px) {

  section.first-block:before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 200px solid #2f384f;
      border-left: 50vw solid transparent;
  }

  section.first-block:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 110px solid #2f384f;
      border-right: 50vw solid transparent;
  }

  section.third-block:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 0;
      height: 0;
      border-top: 120px solid #2f384f;
      border-right: 100vw solid transparent;
  }

  section.third-block > .container > .row {
      margin: 10em 0 5em;
  }
}

@media only screen and (max-width: 750px) {
  .check-list > li > h3 {
      line-height: 35px;
  }
}
/* Lead Magnet Overlay */
.overlay {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100vw;
  cursor: pointer; /* Add a pointer on hover */
}
.overlay .Lead-Magnet{
  width: 50vw;
  height: 60vh;
  display: block;
  margin: auto;
  width: 61vw;
  height: 32%;
  background: #ffffff;
}
.overlay .container{
  margin-top: 10vh;
}
.overlay .card4 {
padding-top: 40px;
}
.overlay .card4 img{
  width: 80%;
}
.overlay .content {
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 16px;
}
.overlay .title-form {
  color: #fff;
}
.overlay .content h2 {
  font-size: 38px;
  font-weight: 700;
}
.overlay .description {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  color: #a9a6a6;
}
.overlay main {
  position: relative;
  min-height: 100vh;
}
.overlay .bg {
  height: 36em;
  position: absolute;
  bottom: 15vh;
  width: 100vw;
  z-index: -1;
}
.overlay .bg.blue {
  background-color: #03a9f4;
  height: 68%;
  width: 61vw;
}
.overlay .select {
  font-size: 14px;
  color: #fff;
  font-style: italic;
}
.overlay .m-t-5em {
  margin-top: 5em;
}
.overlay .m--20px {
  margin: 0 -20px;
}
.overlay .m--15px {
  margin: 0 -15px;
}
.overlay .m-t-25px {
  margin-top: 25px;
}
@media only screen and (min-width: 320px){
  .overlay .container{
    background: #ffffff;
    overflow: auto;
    max-height: 80vh;
  }
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 73vw ;
  }
  .overlay .form-content{
    background-color: #03a9f4;
  }
  .overlay .text-content p{
    font-size: 16px;
    margin: 0 0 10px;
    color: #111111;
  }
} 
@media only screen and (min-width: 768px){
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 88vw ;
  }
  .overlay .text-content{
    margin-top: 30px;
    padding-left: 60px ;
  }
  .overlay .card4 img{
    width: 50% ;
  }
} 
@media only screen and (min-width: 768px) and (min-height: 1024px){
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 60vw ;
  }
  .overlay .text-content{
    margin-top: 30px;
  }
  .overlay .text-content p{
    font-size: 20px;
  }
  .overlay .card4 img{
    width: 50% ;
  }
}
@media only screen and (min-width: 970px){
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 55vw ;
  }
}
@media only screen and (min-width: 1024px){
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 74vw ;
  }
  .overlay .card4 img{
    width: 80% ;
  }
  .overlay .form-content{
    padding-left: 10px ;
  }
  .overlay .text-content{
    padding-left: 10px ;
  }
  .overlay .text-content p{
    font-size: 15px ;
  }
}
@media only screen and (min-width: 1280px){
  .overlay .Lead-Magnet,
  .overlay .container {
    width: 67vw ;
  }
  .overlay .container {
    margin-top: 14vh;
  }
  .overlay .card4 img {
    width: 95% ;
  }
  .overlay .bg.blue{
    height: 63%;
    bottom: 23vh;
  }
}
@media only screen and (min-width: 1366px){
  .overlay .container{
    margin-top: 25vh ;
    background: transparent;
  }
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 70.5vw ;
  }
  .overlay .card4 img {
    width: 85% ;
  }
  .overlay .Lead-Magnet{
    height: 15% ;
  }
  .overlay .bg.blue{
    height: 43%;
    width: 70.5vw ;
    bottom: 20vh;
  }
  .overlay .text-content{
    padding-left: 0px ;
  }
  .overlay .text-content p{
    font-size: 20px ;
  }
}
@media only screen and (min-width: 1366px) and (max-height: 900px){
  .overlay .bg.blue{
    height: 48%;
    bottom: 18vh;
  }
  .overlay .container{
    margin-top: 19vh ;
  }
}
@media only screen and (min-width: 1366px) and (max-height: 768px){
  .overlay .Lead-Magnet{
    height: 14%;
  }
  .overlay .container{
    margin-top: 18vh ;
  }
  .overlay .bg.blue{
    height: 54%;
    bottom: 15vh;
  }
  .overlay .card4 img {
    width: 78% ;
  }
  .overlay .text-content p{
    font-size: 15px ;
  }
}
@media only screen and (min-width: 1366px) and (max-height: 641px){
  .overlay .Lead-Magnet, .overlay .container, .overlay .bg.blue {
    width: 67.5vw ;
  }
  .overlay .Lead-Magnet {
    height: 17% ;
  }
  .overlay .container{
    margin-top: 10vh ;
  }
  .overlay .bg.blue {
    height: 64% ;
    bottom: 9vh ;
  }
}
@media only screen and (min-width: 1600px){
  .overlay .container{
    margin-top: 18vh ;
  }
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 56.5vw ;
  }
  .overlay .card4 img {
    width: 85% ;
  }
  .overlay .Lead-Magnet{
    height: 17% ;
  }
  .overlay .bg.blue{
    height: 49%;
    bottom: 20vh ;
    width: 56.5vw ;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 630px){
  .overlay .Lead-Magnet{
    height: 19% ;
  }
  .overlay .container {
    margin-top: 10vh ;
  }
  .overlay .card4 img {
    width: 65% ;
  }
  .overlay .bg.blue {
    height: 70%;
    bottom: 5vh ;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 800px){
  .overlay .Lead-Magnet{
    height: 17% ;
  }
  .overlay .card4 img {
    width: 80% ;
  }
  .overlay .bg.blue {
    height: 53% ;
    bottom: 20vh ;
  }
}
@media only screen and (min-width: 1920px){
  .overlay .Lead-Magnet,
  .overlay .container{
    width: 50.5vw ;
  }
  .overlay .container {
    margin-top: 18vh ;
  }
  .overlay .Lead-Magnet{
    height: 15% ;
  }
  .overlay .card4 img {
    width: 84% ;
  }
  .overlay .bg.blue{
    bottom: 24vh ;
    width: 50.5vw ;
  }
}