.crm-webform-body{
  height: auto !important;
}
.crm-webform-input {
  width: 100%;
  height: 60px;
  margin-bottom: 1vh;
  background: #ffffff;
  position: relative;
  max-width: 498px;
  background: #ffffff;
  resize: none;
  border-color: #5ba0da;
}
button.crm-webform-submit-button{
  margin-top: 0vh;
  margin-bottom: 0;
  margin-left: 0vw;
  padding-top: 30px;
  padding-bottom: 55px;
  width: 100%;
  height: 0vh;
  background: #41d8ca !important;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
button.crm-webform-submit-button:hover{
  text-decoration: none;
  color: #ffffff;
}
.crm-webform-mini-cart-container{
  display: none;
}
.crm-webform-label-required-field:after{
  font: normal 6px 'FontAwesome';
}
#RESULT_BUTTON_REDIRECT_BNT{
 display: none !important;
}