html,head,body,div,p,h1,h2,h3,h4,h5,h6,button,img,video{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Arial-Rounded;
  src: url(https://cdn.rawgit.com/AlanMorano/SSS-Campaign/AlanBranch/assets/fonts/ARLRDBD.TTF);
}
body{
  height: 100%;
  background: #475372;
}
.container{
  padding-top: 10vh;
  color: #fff;
  font-family: Arial-Rounded;
}
#logo-image{
  margin-bottom: 2.5vh;
}
#main-image{
  margin-bottom: 1vh;
}
.main-text{
  font-size: 26px;
  letter-spacing: 1px;
}
.row{
  padding: 5vh 0;
}
.social-link {
  width: 88px !important;
	-moz-box-shadow: 3px 3px 7px -1px #2e2e2e;
	-webkit-box-shadow: 3px 3px 7px -1px #2e2e2e;
	box-shadow: 3px 3px 7px -1px #2e2e2e;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #9096a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
  font-weight:bold;
  margin: 0 10px;
	padding:25px 25px;
  text-decoration:none;
  text-align: center;
}
.social-link:hover {
	background-color:transparent;
	color: #dedede;
}
.social-link:active {
	position:relative;
	top:1px;
}
.left-most{
  margin-left: 1vw;
}
@media only screen and (max-width: 1366px){
  .left-most{
    margin-left: 1.5vw;
  }
}
@media only screen and (max-width: 1024px){
  .left-most{
    margin-left: 0vw;
  }
  .social-link{
    margin: 0 3px;
  }
}
@media only screen and (max-width: 850px){
  .left-most{
    margin-left: 12vw;
  }
}
@media only screen and (max-width: 767px){
  .left-most{
    margin-left: 29vw;
  }
}
@media only screen and (max-width: 655px){
  .left-most{
    margin-left: 25vw;
  }
  #main-image{
    width: 100%;
  }
}
@media only screen and (max-width: 580px){
  .left-most{
    margin-left: 20vw;
  }
}
@media only screen and (max-width: 500px){
  #logo-image{
    width: 50%;
  }
  .left-most{
    margin-left: 12.5vw;
  }
}
@media only screen and (max-width: 375px){
  #logo-image{
    width: 60%;
  }
  .left-most{
    margin-left: 8.5vw;
  }
}
@media only screen and (max-width: 375px){
  .left-most{
    margin-left: 6vw;
  }
}
@media only screen and (max-width: 320px){
  .left-most{
    margin-left: 1vw;
  }
}
