html,head,body,div,p,h1,h2,h3,h4,h5,h6,button,img,video{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Arial-Rounded;
  src: url(../assets/fonts/ARLRDBD.TTF);
}
body{
  height: 100%;
  background: #475372;
}
.container{
  padding-top: 10vh;
  color: #fff;
  font-family: Arial-Rounded;
}
#main-image{
  margin-bottom: 1vh;
}
.main-text{
  font-size: 26px;
  letter-spacing: 1px;
}
.row{
  padding-top: 5vh;
}
.calendar-img{
  margin-left: 2.2vw;
}
.pull-right{
  font-family: 'Roboto', sans-serif;
  margin-right: 2vw;
}
.text-time{
  font-weight: 900;
  font-size: 40px;
  padding-top: 3px;
  margin-bottom: -1vh;
}
.text-club{
  font-weight: 700;
  font-size: 28px;
}
.text-loc{
  font-weight: 500;
  font-size: 20px;
}
.ribbon-div{
  margin-top: 40px;
  background: url(../assets/TY/Ribbon.png) no-repeat center;
  text-align: center;
}
.ribbon-div h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: #475372 !important;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.button {
  margin-top: 5vh;
  text-align: center;
  vertical-align: middle;
  width: 16vw;
  padding: 1.8vh 1.8vw;
  border: 3px solid #ffffff;
  border-radius: 55px;
  background: #475473;
  -webkit-box-shadow: #adafb3 0px 10px 11px 0px;
  -moz-box-shadow: #adafb3 0px 10px 11px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 11px 0px;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background: #55658a;
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #2b3245;
}
.button img{
  display: inline
}
.button p{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-left: 1vw;
  display: inline;
}

/* Media Queries */
/* Tablets */
@media only screen and (max-width: 1024px) {
  .calendar-img{
    margin-left: 27vw;
  }
  .pull-right{
    margin-right: 20vw;
  }
  .ribbon-div{
    margin-top: 5vh;
  }
  .button{
    margin-top: 5vh;
    width: 30vw;
  }
}
@media only screen and (max-width: 770px) {
  .calendar-img{
    margin-left: 20vw;
  }
  .pull-right{
    margin-right: 12vw;
  }
  .ribbon-div{
  }
  .button{
    width: 40vw;
  }
}
/* Phones*/
@media only screen and (max-width: 420px) {
  .container{
    padding-top: 50px;
  }
  #main-image{
    width: 90%;
  }
  .main-text{
    font-size: 20px;
  }
  .row{
    padding-top: 30px;
  }
  .calendar-img{
    width: 30%;
    margin-left: 31vw;
  }
  .pull-right{
    margin-right: 18vw;
    margin-top: 20px;
    float: none;
    text-align: center;
  }
  .pull-right img{
    width: 60%;
  }
  .text-time{
    font-size: 35px;
  }
  .text-club{
    font-size: 20px;
  }
  .text-loc{
    font-size: 20px;
  }
  .ribbon-div{
    background: url(../assets/TY/Ribbon-sm.png) no-repeat center;
    margin-top: 20px;
  }
  .ribbon-div h2{
    font-size: 18px;
  }
  .button{
    width: 290px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 380px) {
  .calendar-img{
    margin-left: 32vw;
  }
  .pull-right{
    margin-right: 13vw;
  }
  .button p{
    padding-left: 2vw;
  }
}
@media only screen and (max-width: 320px) {
  .calendar-img{
    width: 35%;
    margin-left: 28.5vw;
  }
  .pull-right{
    margin-right: 7vw;
  }
  .button p{
    padding-left: 2vw;
  }
}